<div>
  <p>two-first works!</p>
  <p>换行问题</p>
  <div>
    <span class="span">
      中国科技论文在线是经教育部批准，由教育部科技发展中心主办，
      利用现代信息技术手段，打破传统出版物的概念，针对论文发表困难，
      学术交流渠道窄，不利于研究成果快速、高效地转化为现实生产力而创建的科技论文网站。
      给科研人员提供一个方便、快捷的交流平台，提供及时发表成果和新观点的有效渠道，从而使新成果得到及时推广，
      科研创新思想得到及时交流。中国科技论文在线是经教育部批准，由教育部科技发展中心主办，
      利用现代信息技术手段，打破传统出版物的概念，
      针对论文发表困难，学术交流渠道窄，不利于研究成果快速、高效地转化为现实生产力而创建的科技论文网站。
      给科研人员提供一个方便、快捷的交流平台，提供及时发表成果和新观点的有效渠道，
      从而使新成果得到及时推广，科研创新思想得到及时交流。
      中国科技论文在线是经教育部批准，由教育部科技发展中心主办，
      利用现代信息技术手段，打破传统出版物的概念，针对论文发表困难，
      学术交流渠道窄，不利于研究成果快速、高效地转化为现实生产力而创建的科技论文网站。
      给科研人员提供一个方便、快捷的交流平台，提供及时发表成果和新观点的有效渠道，
      从而使新成果得到及时推广，科研创新思想得到及时交流。
      中国科技论文在线是经教育部批准，由教育部科技发展中心主办，
      利用现代信息技术手段，打破传统出版物的概念，
      针对论文发表困难，学术交流渠道窄，不利于研究成果快速、高效地转化为现实生产力而创建的科技论文网站。
      给科研人员提供一个方便、快捷的交流平台，提供及时发表成果和新观点的有效渠道，
      从而使新成果得到及时推广，科研创新思想得到及时交流。
      中国科技论文在线是经教育部批准，由教育部科技发展中心主办，
      利用现代信息技术手段，打破传统出版物的概念，针对论文发表困难，
      学术交流渠道窄，不利于研究成果快速、高效地转化为现实生产力而创建的科技论文网站。
      给科研人员提供一个方便、快捷的交流平台，提供及时发表成果和新观点的有效渠道，
      从而使新成果得到及时推广，科研创新思想得到及时交流。
      中国科技论文在线是经教育部批准，由教育部科技发展中心主办，
      利用现代信息技术手段，打破传统出版物的概念，
      针对论文发表困难，学术交流渠道窄，不利于研究成果快速、高效地转化为现实生产力而创建的科技论文网站。
      给科研人员提供一个方便、快捷的交流平台，提供及时发表成果和新观点的有效渠道，
      从而使新成果得到及时推广，科研创新思想得到及时交流。
    </span>
  </div>
</div>
