<!-- NG-ZORRO -->
<!--
<a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
</a>-->

<!--logo-->
<div></div>
<!--导航+页面-->
<div class="data">
  <!--导航-->
  <div class="nav">
    <ul>
      <li><a routerLink="first">111111111</a></li>
      <li><a routerLink="second">2222222222</a></li>
    </ul>
  </div>
  <!--页面-->
  <div class="page">
    <router-outlet></router-outlet>
  </div>
</div>



