<!-- NG-ZORRO -->
<!--
<a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
</a>-->

<!--logo-->
<div></div>
<!--导航+页面-->
<div class="data">
  <!--导航-->
  <div class="nav">
    <ul>
      <li><a routerLink="one/first">1--1</a></li>
      <li><a routerLink="one/second">1--2</a></li>
      <li><a routerLink="two/two-first">2--1</a></li>
      <li><a routerLink="two/two-second">2--2</a></li>
    </ul>

  </div>
  <!--页面-->
  <div class="page">
    <router-outlet></router-outlet>
  </div>
</div>
<!--
1.nz-input-number禁止输入
2.nz-input-number可以输入，但是不点击等操作，可以获取数据

3.对话框ng-model与ng-template与输入框input可以同时使用
时间
-->

