/*.outside {
  width: 500px;
  height: 500px;
  background-color: aquamarine;


  .inside {
    width: 200px;
    height: 100px;
    background-color: yellow;
    margin:0 auto;
  }
}

.outside {
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;

  .inside {
    width: 200px;
    height: 100px;
    background-color: yellow;
  }
}

.outside {
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  position: relative;

  .inside {
    width: 200px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    left: 50%;
    margin-left: -100px;
  }
}

.outside {
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  display: flex;
  align-items: center;

  .inside {
    width: 200px;
    height: 100px;
    background-color: yellow;
  }
}

.outside {
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  position: relative;

  .inside {
    width: 200px;
    height: 100px;
    background-color: yellow;

    position: absolute;
    top: 50%;
    margin-top: -50px;
  }
}


.outside {
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  display: flex;

  .inside {
    width: 200px;
    height: 100px;
    background-color: yellow;
    align-self: center;
  }
}


.outside {
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  display: table-cell;
  vertical-align: middle;

  .inside {
    width: 200px;
    height: 100px;
    background-color: yellow;
  }
}

.outside {
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  position: relative;

  .inside {
    width: 200px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}


.outside {
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  position: relative;

  .inside {
    width: 200px;
    height: 100px;
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.outside {
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;

  .inside {
    width: 200px;
    height: 100px;
    background-color: yellow;

  }
}

.outside {
  width: 500px;
  height: 500px;
  background-color: aquamarine;
  display: table-cell;
  vertical-align: middle;

  .inside {
    width: 200px;
    height: 100px;
    background-color: yellow;
    margin: 0 auto;
  }
}*/
