<p>three-one works!</p>

<div style="background-color: coral">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed nonne merninisti licere mihi ista probare, quae sunt a te dicta? Refert tamen, quo modo.
  </p>
  <nz-divider></nz-divider>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed nonne merninisti licere mihi ista probare, quae sunt a te dicta? Refert tamen, quo modo.
  </p>
  <nz-divider [nzDashed]="'true'"></nz-divider>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Sed nonne merninisti licere mihi ista probare, quae sunt a te dicta? Refert tamen, quo modo.
  </p>
  <nz-divider nzType="horizontal">水平分割线</nz-divider>
  <span>type1</span> <nz-divider nzType="vertical"></nz-divider><span>type2</span>
  <nz-divider nzType="horizontal" nzText="中间文字方向" nzOrientation="center"></nz-divider>
  <nz-divider nzType="vertical" nzText="中间文字"></nz-divider>
</div>
